[data-component="icon"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  color: var(--muted-foreground);
}

[data-component="icon"][data-size="small"] {
  width: 16px;
  height: 16px;
}

[data-component="icon"][data-size="normal"] {
  width: 20px;
  height: 20px;
}

[data-component="icon"][data-size="medium"] {
  width: 24px;
  height: 24px;
}

[data-component="icon"][data-size="large"] {
  width: 24px;
  height: 24px;
}

[data-component="icon"] [data-slot="icon-svg"] {
  width: 100%;
  height: auto;
}
