[data-component="switch"] {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: default;
}

[data-component="switch"] [data-slot="switch-control"] {
  display: inline-flex;
  align-items: center;
  width: 28px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid var(--border);
  background: var(--muted);
  transition: background-color 150ms, border-color 150ms;
}

[data-component="switch"] [data-slot="switch-thumb"] {
  width: 14px;
  height: 14px;
  box-sizing: content-box;
  border-radius: 2px;
  border: 1px solid var(--border);
  background: var(--background);
  box-shadow: 0 1px 2px -1px rgba(19, 16, 16, 0.04),
    0 1px 2px 0 rgba(19, 16, 16, 0.06),
    0 1px 3px 0 rgba(19, 16, 16, 0.08);
  transform: translateX(-1px);
  transition: transform 150ms, background-color 150ms;
}

[data-component="switch"] [data-slot="switch-label"] {
  user-select: none;
  color: var(--foreground);
  font-family: var(--font-family-sans, "Inter", sans-serif);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.67;
}

[data-component="switch"] [data-slot="switch-description"] {
  color: var(--muted-foreground);
  font-family: var(--font-family-sans, "Inter", sans-serif);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

[data-component="switch"]:hover:not([data-disabled]) [data-slot="switch-control"] {
  border-color: var(--ring);
}

[data-component="switch"]:focus-within [data-slot="switch-control"] {
  border-color: var(--ring);
  box-shadow: 0 0 0 2px var(--ring);
}

[data-component="switch"] [data-slot="switch-control"][data-state="checked"] {
  border-color: var(--primary);
  background-color: var(--primary);
}

[data-component="switch"] [data-slot="switch-control"][data-state="checked"] [data-slot="switch-thumb"] {
  border: none;
  transform: translateX(12px);
  background-color: var(--primary-foreground);
}

[data-component="switch"][data-disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
